.btn-card-fill {
	font-size: 2rem;
	text-align:center;
	display:block;
	height:100%;
	background: none;
	margin:0;
	text-transform:uppercase;
	width:100%;
	font-weight: 300;
}
.btn-card-fill:hover {
	background: none;
}